*{font-family:"Comic Sans MS", cursive, sans-serif;
  box-sizing: border-box;}

	.container {
  width: 90%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 175%;
  }

  .box {
    width: 90%;
    border: 5px;
    margin-right: auto;
    margin-left: auto;
    padding:5px;
   }

  .menu{
   	background-color: #8e8e8e;
   	margin:10px;
   	border:2px solid black;
   }

   .Title{
   	width:40%;
   	float:right;
   	border: 2px solid black;
   	text-align: center;
   	font-size: 125%;
   	float:right;
   }

   .para{
   	margin:10px;
   	margin-top:40px;
   	clear:both;
   }
   
   #chicken {
   	background-color: #cf8d8d;
   }

   #beef {
   	background-color: #b93c3b; 
   	color:white;
   }

   #sushi {
   	background-color: #e1ca8d;
   }
   

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    background-color: white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {.col-sm-12 {
    float: left;
    background-color: white;
    width: 100%;}
}